### Proyecto 1 - preprocesamiento

###### Maria Isabel Ortiz Naranjo
###### Luis Alejandro Urbina
###### Catedratico: Jorge Yass
###### Catedra: Security Data Science

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import os
import pandas_profiling as pp

from pandas_profiling import ProfileReport
from imblearn.over_sampling import RandomOverSampler
from collections import Counter


import sklearn
from sklearn import metrics, model_selection, tree

reports: bool = False

In [ ]:
df_final = pd.read_csv("/content/gdrive/MyDrive/DatasetsProyecto/dataset-part1.csv")

#df_final1 = pd.read_csv("/content/gdrive/MyDrive/DatasetsProyecto/dataset-part2.csv")

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570666 entries, 0 to 3570665
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 1.3+ GB

In [ ]:
df_final.head()

   BIFLOW_DIRECTION  DIRECTION  ... TOTAL_FLOWS_EXP        LABEL
0                 1          0  ...         2293398  Normal flow
1                 1          0  ...         2293400  Normal flow
2                 1          0  ...         2293404  Normal flow
3                 1          0  ...         2293407  Normal flow
4                 1          0  ...         2293409  Normal flow

[5 rows x 50 columns]

#**Preprocesamiento**
#####remover variables innecesarias

In [ ]:
vars = ['MIN_IP_PKT_LEN','SAMPLING_INTERVAL','DIRECTION','OOORDER_IN_PKTS','OOORDER_OUT_PKTS','BIFLOW_DIRECTION','FIREWALL_EVENT','FLOW_ACTIVE_TIMEOUT','FLOW_INACTIVE_TIMEOUT', 'FRAME_LENGTH', 'MAX_IP_PKT_LEN',
]

In [ ]:
df_final = df_final.drop(vars, axis=1)
len(df_final.columns.values)

39

In [ ]:
df_final = df_final.drop(["PROTOCOL"], axis = 1)

In [ ]:
unvars = ['FLOW_ID', 'TOTAL_FLOWS_EXP']
df_final = df_final.drop(unvars, axis=1)
len(df_final.columns.values)

36

In [ ]:
df_final = df_final.drop(["IPV4_DST_ADDR", "IPV4_SRC_ADDR"], axis = 1)

In [ ]:
df_final.head()

  DST_TO_SRC_SECOND_BYTES  FIRST_SWITCHED  ...  L7_PROTO_NAME        LABEL
0                      40      1616660040  ...        Unknown  Normal flow
1                       ,      1616660040  ...           ICMP  Normal flow
2                     104      1616660040  ...            TLS  Normal flow
3                       ,      1616660040  ...        Unknown  Normal flow
4                      40      1616660040  ...            TLS  Normal flow

[5 rows x 34 columns]

In [ ]:
df_final["LABEL"].unique()

array(['Normal flow', 'SYN Scan - aggressive'], dtype=object)

In [ ]:
df_final.describe(include=['object'])

       DST_TO_SRC_SECOND_BYTES  ...                  LABEL
count                  3570666  ...                3570666
unique                  122390  ...                      2
top                         40  ...  SYN Scan - aggressive
freq                   1953162  ...                2496814

[4 rows x 5 columns]

In [ ]:
objectss = df_final.select_dtypes(include=['object']).columns
df_final[objectss].head(50)

   DST_TO_SRC_SECOND_BYTES PROTOCOL_MAP  ...     L7_PROTO_NAME        LABEL
0                       40          tcp  ...           Unknown  Normal flow
1                        ,         icmp  ...              ICMP  Normal flow
2                      104          tcp  ...               TLS  Normal flow
3                        ,          tcp  ...           Unknown  Normal flow
4                       40          tcp  ...               TLS  Normal flow
5                       40          tcp  ...               TLS  Normal flow
6                     5043          tcp  ...        TLS.Google  Normal flow
7                     1009          tcp  ...         TLS.Teams  Normal flow
8                        ,          tcp  ...            SMBv23  Normal flow
9                      120          tcp  ...         TLS.Skype  Normal flow
10                     172          udp  ...         DNS.Teams  Normal flow
11                      40          tcp  ...           Unknown  Normal flow
12                   28434          tcp  ...               TLS  Normal flow
13                      52          tcp  ...            Google  Normal flow
14                     266          tcp  ...         TLS.Skype  Normal flow
15                      40          tcp  ...         TLS.Skype  Normal flow
16                     154          udp  ...        DNS.Google  Normal flow
17                     988          tcp  ...         TLS.Teams  Normal flow
18                    1892          udp  ...       QUIC.Google  Normal flow
19                     139          udp  ...       DNS.OpenDNS  Normal flow
20                     160          udp  ...               DNS  Normal flow
21                      64          tcp  ...               TLS  Normal flow
22                   28434          tcp  ...               TLS  Normal flow
23                     171          udp  ...  DNS.Microsoft365  Normal flow
24                      81          udp  ...        DNS.Google  Normal flow
25                     139          udp  ...       DNS.OpenDNS  Normal flow
26                      52          tcp  ...           Unknown  Normal flow
27                      52          tcp  ...            Google  Normal flow
28                      40          tcp  ...           Unknown  Normal flow
29                      40          tcp  ...           Unknown  Normal flow
30                      40          tcp  ...               TLS  Normal flow
31                      40          tcp  ...               TLS  Normal flow
32                      40          tcp  ...           Unknown  Normal flow
33                      99          udp  ...        DNS.Google  Normal flow
34                     176          udp  ...        DNS.Google  Normal flow
35                      40          tcp  ...               TLS  Normal flow
36                      40          tcp  ...               TLS  Normal flow
37                      40          tcp  ...               TLS  Normal flow
38                       ,          tcp  ...           Unknown  Normal flow
39                   30591          tcp  ...               TLS  Normal flow
40                     116          udp  ...        DNS.Google  Normal flow
41                      91          udp  ...        DNS.Google  Normal flow
42                     124          udp  ...               DNS  Normal flow
43                     104          tcp  ...               TLS  Normal flow
44                     124          udp  ...               DNS  Normal flow
45                     195          udp  ...               DNS  Normal flow
46                   26971          udp  ...       QUIC.Google  Normal flow
47                      40          tcp  ...               TLS  Normal flow
48                   28434          tcp  ...               TLS  Normal flow
49                      64          tcp  ...               TLS  Normal flow

[50 rows x 5 columns]

In [ ]:
df_final.head()

  DST_TO_SRC_SECOND_BYTES  FIRST_SWITCHED  ...  L7_PROTO_NAME        LABEL
0                      40      1616660040  ...        Unknown  Normal flow
1                       ,      1616660040  ...           ICMP  Normal flow
2                     104      1616660040  ...            TLS  Normal flow
3                       ,      1616660040  ...        Unknown  Normal flow
4                      40      1616660040  ...            TLS  Normal flow

[5 rows x 34 columns]

Borrar columnas con 0

In [ ]:
df_final = df_final.drop(columns=["RETRANSMITTED_OUT_BYTES", "RETRANSMITTED_OUT_PKTS"], axis=1)
df_final = df_final.drop(columns=["RETRANSMITTED_IN_BYTES", "RETRANSMITTED_IN_PKTS"], axis = 1)
df_final = df_final.drop(columns=["TCP_WIN_MSS_OUT", "TCP_WIN_SCALE_IN", "TCP_WIN_SCALE_IN", "TCP_WIN_SCALE_OUT", "SRC_TOS", "DST_TOS"], axis=1)

In [ ]:
# show the dataset
df_final.head(
)

  DST_TO_SRC_SECOND_BYTES  FIRST_SWITCHED  ...  L7_PROTO_NAME        LABEL
0                      40      1616660040  ...        Unknown  Normal flow
1                       ,      1616660040  ...           ICMP  Normal flow
2                     104      1616660040  ...            TLS  Normal flow
3                       ,      1616660040  ...        Unknown  Normal flow
4                      40      1616660040  ...            TLS  Normal flow

[5 rows x 25 columns]

*Remplazar 0 por 1*

In [ ]:
df_final["DST_TO_SRC_SECOND_BYTES"].replace({0: 1}, inplace=True)
df_final["DST_TO_SRC_SECOND_BYTES"].head()

0     40
1      ,
2    104
3      ,
4     40
Name: DST_TO_SRC_SECOND_BYTES, dtype: object

In [ ]:
df_final.head()

  DST_TO_SRC_SECOND_BYTES  FIRST_SWITCHED  ...  L7_PROTO_NAME        LABEL
0                      40      1616660040  ...        Unknown  Normal flow
1                       ,      1616660040  ...           ICMP  Normal flow
2                     104      1616660040  ...            TLS  Normal flow
3                       ,      1616660040  ...        Unknown  Normal flow
4                      40      1616660040  ...            TLS  Normal flow

[5 rows x 25 columns]

In [ ]:
if not os.path.isfile("report.html") and reports:
    profile = ProfileReport(df_final, title="report", minimal=True)
    profile.to_file("report.html")

In [ ]:
df_final["LABEL"].unique()
labels_dic = {
    "Normal flow": 0,
    "SYN Scan - aggressive": 1,
    "Denial of Service R-U-Dead-Yet": 2,
    "Denial of Service Slowloris": 3
}
df_final["LABEL"] = df_final["LABEL"].apply(lambda x: labels_dic[x])
df_final["LABEL"].unique()

array([0, 1])

Colocar correctamente el nombre de las columnas

In [ ]:
df_final.columns = [column.replace("-", "_") for column in df_final.columns]
df_final.columns

Index(['DST_TO_SRC_SECOND_BYTES', 'FIRST_SWITCHED',
       'FLOW_DURATION_MICROSECONDS', 'FLOW_DURATION_MILLISECONDS',
       'FLOW_END_MILLISECONDS', 'FLOW_END_SEC', 'FLOW_START_MILLISECONDS',
       'FLOW_START_SEC', 'IN_BYTES', 'IN_PKTS', 'L4_DST_PORT', 'L4_SRC_PORT',
       'LAST_SWITCHED', 'OUT_BYTES', 'OUT_PKTS', 'PROTOCOL_MAP',
       'SRC_TO_DST_SECOND_BYTES', 'TCP_FLAGS', 'TCP_WIN_MAX_IN',
       'TCP_WIN_MAX_OUT', 'TCP_WIN_MIN_IN', 'TCP_WIN_MIN_OUT',
       'TCP_WIN_MSS_IN', 'L7_PROTO_NAME', 'LABEL'],
      dtype='object')

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570666 entries, 0 to 3570665
Data columns (total 25 columns):
 #   Column                      Dtype
---  ------                      -----
 0   DST_TO_SRC_SECOND_BYTES     object
 1   FIRST_SWITCHED              int64
 2   FLOW_DURATION_MICROSECONDS  int64
 3   FLOW_DURATION_MILLISECONDS  int64
 4   FLOW_END_MILLISECONDS       int64
 5   FLOW_END_SEC                int64
 6   FLOW_START_MILLISECONDS     int64
 7   FLOW_START_SEC              int64
 8   IN_BYTES                    int64
 9   IN_PKTS                     int64
 10  L4_DST_PORT                 int64
 11  L4_SRC_PORT                 int64
 12  LAST_SWITCHED               int64
 13  OUT_BYTES                   int64
 14  OUT_PKTS                    int64
 15  PROTOCOL_MAP                object
 16  SRC_TO_DST_SECOND_BYTES     object
 17  TCP_FLAGS                   int64
 18  TCP_WIN_MAX_IN              int64
 19  TCP_WIN_MAX_OUT             int64
 20  TCP_WIN_MIN_IN              int64
 21  TCP_WIN_MIN_OUT             int64
 22  TCP_WIN_MSS_IN              int64
 23  L7_PROTO_NAME               object
 24  LABEL                       int64
dtypes: int64(21), object(4)
memory usage: 681.1+ MB

In [ ]:
df_final.head()

  DST_TO_SRC_SECOND_BYTES  FIRST_SWITCHED  ...  L7_PROTO_NAME  LABEL
0                      40      1616660040  ...        Unknown      0
1                       ,      1616660040  ...           ICMP      0
2                     104      1616660040  ...            TLS      0
3                       ,      1616660040  ...        Unknown      0
4                      40      1616660040  ...            TLS      0

[5 rows x 25 columns]

In [ ]:
ros = RandomOverSampler(sampling_strategy='minority')
flow = df_final.loc[df_final["LABEL"] == 0]
at = df_final.loc[df_final["LABEL"] == 1]
dead = df_final.loc[df_final["LABEL"] == 2]
att = df_final.loc[df_final["LABEL"] == 3]
print(len(flow))
print(len(at))
print(len(dead))
print(len(att))

1073852
2496814
0
0

In [ ]:
final_df = pd.concat([flow, at, dead, att])
final_df.to_csv("df_ffinal.csv")